#p
{
   
    border-width: 400px;
    margin-left:300px; 
    border-spacing: 100px;
    text-align: center;
    size: 200%;
}

#p2
{
	margin-top: 50px;
  text-align: center;

}

.container
{
	margin-left: 130px;
}